/*
 * Copyright 1991-1994 by The University of Texas at Austin
 * All rights reserved.
 *
 * For infomation contact:
 * Rick Watson
 * University of Texas
 * Computation Center, COM 1
 * Austin, TX 78712
 * r.watson@utexas.edu
 * 512-471-3241
 */
 
#define beta_v

#ifdef beta_v
#define SHORTVERS "1.0b11"		/* vvv b */
#define BETAPART     0x11		/* vvv b */
#define RELE beta
#endif

/*
 * the release version
 */
#ifndef SHORTVERS
#define SHORTVERS "1.0"			/* vvv */
#endif

#ifndef RELE
#define RELE release
#endif

#ifndef BETAPART
#define BETAPART 0				/* vvv */
#endif

#define LONGVERS  SHORTVERS ", \251 1993 U.T. Austin, r.watson@utexas.edu"

#define VERSION 0x01			/* vvv */
#define VERSION2 0x00			/* vvv */

#define KCONFIG_CREATOR 'RWkc'
