/**/# Kerberos version 5 Build Parameters
/**/#
/**/# $Source$
/**/# $Author$
/**/# $Id$

#define ProjectKRB		5

#ifndef TouchCmd
#define TouchCmd touch
#endif
#ifndef PerlCmd
#define PerlCmd perl
#endif
#ifndef UnifdefCmd
#define UnifdefCmd $(UNIFDEFSRC)/unifdef
#endif
#ifndef CompileEtCmd
#define CompileEtCmd $(ETSRC)/compile_et
#endif
#ifndef MkCmdsCmd
#define MkCmdsCmd $(SSSRC)/mk_cmds
#endif
#ifndef SSLib
#define SSLib $(SSSRC)/libss.a
#endif
#ifndef ComErrLib
#define ComErrLib $(ETSRC)/libcom_err.a
#endif
#ifndef PosyFlags
#define PosyFlags -f -h2 -a -s
#endif
#ifndef PepyFlags
#define PepyFlags -a PY_advise -s -r
#endif
#ifndef PepyCmd
#define PepyCmd pepy
#endif
#ifndef PosyCmd
#define PosyCmd posy
#endif
#ifndef ArAddCmd
#define ArAddCmd ar cruv
#endif
#ifndef Krb4LibList
#define Krb4LibList -lkrb -ldes
#endif
#ifndef Krb4Includes
#define Krb4Includes -I$(TOP)/include/kerberosIV
#endif

#ifndef SSTopIncludes
#ifdef UseSSInstalled
#define SSTopIncludes /**/  
#else /* not installed SS */
#define SSTopIncludes -I$(TOP)
#endif /* UseSSInstalled */
#endif /* SSTopIncludes */
#ifndef DesDefines
#define DesDefines YouMustFigureOutYourDesDefines
#endif

#ifndef PepyPosyRules
#define	PepyPosyRules()							@@\
.SUFFIXES:	.py							@@\
.py.c:									@@\
	$(PEPY) $(PYFLAGS) $<
#endif /* PepyPosyRules */

#ifndef ErrorTableObjectRule

#define ErrorTableObjectRule()						@@\
.SUFFIXES: .et .h .c							@@\
									@@\
.et.h: 									@@\
	$(COMPILE_ET) $*.et						@@\
									@@\
.et.c: 									@@\
	$(COMPILE_ET) $*.et

#endif

#ifndef CmdTableObjectRule

#define CmdTableObjectRule()						@@\
.SUFFIXES: .ct								@@\
									@@\
.ct.c: 									@@\
	$(MK_CMDS) $*.ct

#endif

/*
 * AdditiveLibraryTarget - generate rules to create a library from
 * several directories
 */
#ifndef AdditiveLibraryTarget
#define	AdditiveLibraryTarget(libname,objlist)				@@\
AllTarget(lib/**/libname.a)						@@\
AllTarget(foo/**/libname)						@@\
									@@\
foo/**/libname: objlist							@@\
	$(ARADD) lib/**/libname.a objlist				@@\
	$(TOUCH) foo/**/libname						@@\
	$(RANLIB) lib/**/libname.a					@@\
lib/**/libname.a: objlist						@@\
	$(ARADD) $@ objlist						@@\
	$(RANLIB) $@
#endif /* AdditiveLibraryTarget */

/*
 * OtherdirLibraryTarget - generate rules to create a library in another
 * directory from object files here
 */
#ifndef OtherdirLibraryTarget
#define	OtherdirLibraryTarget(libdir,libname,objlist)			@@\
AllTarget(objlist)							@@\
AllTarget(libdir/lib/**/libname.a)					@@\
AllTarget(foo/**/libname)						@@\
									@@\
foo/**/libname: objlist							@@\
	$(ARADD) libdir/lib/**/libname.a objlist			@@\
	$(TOUCH) foo/**/libname						@@\
libdir/lib/**/libname.a:						@@\
	$(ARADD) $@ objlist						@@\
	$(TOUCH) foo/**/libname
/* The $(RANLIB) is done at the end by the directory itself */
#endif /* OtherdirLibraryTarget */

/*
 * CopyHeader - generate rule to copy a generated header file to an include
 * tree.
 */
#ifndef CopyHeaderNewName
#define CopyHeaderNewName(hfile,hdir,newname)				@@\
includes:: hfile							@@\
	-if cmp hfile hdir/newname >/dev/null 2>&1; then \		@@\
		echo ; \						@@\
	else \								@@\
		$(RM) hdir/newname ; \					@@\
		$(CP) hfile hdir/newname; \				@@\
	fi
#endif /* CopyHeaderNewName */

#ifndef CopyHeader
#define CopyHeader(hfile,hdir) CopyHeaderNewName(hfile,hdir,hfile)
#endif /* CopyHeader */

/* Run a header through a preprocessor to generate an architecture/environment
   specific header file.  note that unifdef's exit status will normally be 1,
   indicating some adjustment of the file took place. */
#ifndef ProcessStockHeader
#define ProcessStockHeader(stockname,newname)				@@\
newname: stockname Makefile						@@\
	-$(RM) newname							@@\
	-$(UNIFDEF) $(PROCESS_DEFINES) stockname >newname
#endif /* ProcessStockHeader */

#if HasPosixTermios
P_TERMIOS=-DHasPosixTermiosTrue
#else
P_TERMIOS=-UHasPosixTermiosTrue
#endif
#if HasPosixFileLocks
P_FLOCKS=-DHasPosixFileLocksTrue
#else
P_FLOCKS=-UHasPosixFileLocksTrue
#endif
#if HasPosixTypes
P_TYPES=-DHasPosixTypesTrue
#else
P_TYPES=-UHasPosixTypesTrue
#endif
#if HasVoidSignalReturn
P_SIGTYPE=-DHasVoidSignalReturnTrue
#else
P_SIGTYPE=-UHasVoidSignalReturnTrue
#endif
#if HasStringH
P_STRINGH=-DHasStringHTrue
#else
P_STRINGH=-UHasStringHTrue
#endif
#ifdef Bitsize16
P_BITSIZE=-DBitsize16 -UBitsize32 -UBitsize64
#endif
#ifdef Bitsize32
P_BITSIZE=-DBitsize32 -UBitsize16 -UBitsize64
#endif
#ifdef Bitsize64
P_BITSIZE=-DBitsize64 -UBitsize16 -UBitsize32
#endif
#if HasNdbm
P_DBM=-DHasNdbmTrue
#else
P_DBM=-UHasNdbmTrue
#endif
#if HasInet
P_INET=-DHasInetTrue
#else
P_INET=-UHasInetTrue
#endif
#if HasStdlibH
P_STDLIBH=-DHasStdlibHTrue
#else
P_STDLIBH=-UHasStdlibHTrue
#endif
/* Override system defaults for <time.h> vs <sys/time.h> */
#if !defined(UseTimeH) && !defined(UseSysTimeH)
#ifdef OS_BSD
#define	UseSysTimeH
#else
#define	UseTimeH
#endif
#endif
#ifdef UseTimeH
#ifdef UseSysTimeH
P_TIME_DEFS=-DUseTimeH -DUseSysTimeH
#else
P_TIME_DEFS=-DUseTimeH -UUseSysTimeH
#endif
#else
P_TIME_DEFS=-DUseSysTimeH -UUseTimeH
#endif
#if NeedNarrowPrototypes
P_PROTOS=-DUseNarrowPrototypes
#else
P_PROTOS=-UUseNarrowPrototypes
#endif

/*
 * Default Definitions.
 */

            ARADD = ArAddCmd
     TOP_INCLUDES = -I$(TOP)/include $(STDC_TOP_INCLUDES) $(SS_TOP_INCLUDES)
  SS_TOP_INCLUDES = SSTopIncludes
        CONFIGSRC = $(TOP)/config
            ISODE = IsodeDir
         IMAKESRC = $(CONFIGSRC)
          POFLAGS = PosyFlags
          PYFLAGS = PepyFlags
             PEPY = PepyCmd
             POSY = PosyCmd
            TOUCH = TouchCmd
             PERL = PerlCmd
  PROCESS_DEFINES = $(P_TERMIOS) $(P_FLOCKS) $(P_TYPES) $(P_SIGTYPE) $(P_STRINGH) $(P_BITSIZE) $(P_DBM) $(P_INET) $(P_STDLIBH) $(P_TIME_DEFS) $(P_PROTOS) -DUnifdefRan
       DESDEFINES = DesDefines
            ETSRC = $(TOP)/comerr
            SSSRC = $(TOP)/ss
       UNIFDEFSRC = $(TOP)/util/unifdef
            OSLIB = $(TOP)/lib/os/libos.a
           DESLIB = $(TOP)/lib/des/libdes.a
          KRB5LIB = $(TOP)/lib/libkrb5.a
           CRCLIB = $(TOP)/lib/crc-32/libcrc32.a
           MD4LIB = $(TOP)/lib/rsa-md4/libmd4.a
         ISODELIB = IsodeLib

           DBMLIB = DbmLib
          DEPKLIB = $(KRB5LIB) $(DESLIB) $(OSLIB) $(CRCLIB)
             KLIB = $(DEPKLIB) $(ISODELIB) $(COMERRLIB) $(DBMLIB)
        DEPKDBLIB = $(TOP)/lib/kdb/libkdb.a
           KDBLIB = $(DEPKDBLIB)
     DEPKRB425LIB = $(TOP)/lib/krb425/libkrb425.a
        KRB425LIB = $(DEPKDBLIB)
          KRB4LIB = Krb4LibList
     KRB4INCLUDES = Krb4Includes

#ifdef UseImakeInstalled
            IMAKE = imake		/* assume BINDIR in path */
#else
            IMAKE = $(IMAKESRC)/imake
#endif
#ifdef UseMakedependInstalled
           DEPEND = makedepend		/* assume BINDIR in path */
#else
           DEPEND = DependCmd
#endif
#ifdef UseSSInstalled
            SSLIB = -lss
          MK_CMDS = mk_cmds
#else
            SSLIB = SSLib
          MK_CMDS = MkCmdsCmd
#endif
#ifdef UseComErrInstalled
        COMERRLIB = -lcom_err
       COMPILE_ET = compile_et
#else
        COMERRLIB = ComErrLib
       COMPILE_ET = CompileEtCmd
#endif
#ifdef UseUnifdefInstalled
          UNIFDEF = unifdef
#else
          UNIFDEF = UnifdefCmd
#endif
