#include <windows.h>
#include "dialog.h"
#include "telnet.dlg" 
#include "screen.h"

NCSA		ICON	ncsa.ico
TERMINAL    ICON	terminal.ico

ScreenMenu MENU
BEGIN
	POPUP "&Configure"
	BEGIN
		MENUITEM "&Backspace", IDM_BACKSPACE, CHECKED
		MENUITEM "&Delete", IDM_DELETE
		MENUITEM SEPARATOR
		MENUITEM "&Font...", IDM_FONT
		MENUITEM "&About...", IDM_ABOUT
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "&Copy     Cltr+Ins",IDM_COPY
		MENUITEM "&Paste    Shift+Ins", IDM_PASTE
		#if ! defined(NDEBUG)
			MENUITEM "&Debug", IDM_DEBUG
		#endif
	END                            
END
