/* Copyright (c) 2004 Massachusetts Institute of Technology
 *
 * Permission is hereby granted, free of charge, to any person
 * obtaining a copy of this software and associated documentation
 * files (the "Software"), to deal in the Software without
 * restriction, including without limitation the rights to use, copy,
 * modify, merge, publish, distribute, sublicense, and/or sell copies
 * of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
 * BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
 * ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 * CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
 */

/* $Id$ */

#include<netidmgr_intver.h>

1 VERSIONINFO 
        FILEVERSION     KH_VERSION_LIST
        PRODUCTVERSION  KH_VERSION_LIST
        FILEFLAGSMASK   KH_VER_FILEFLAGMASK
        FILEFLAGS       KH_VER_FILEFLAGS
        FILEOS          KH_VER_FILEOS
        FILETYPE        KH_VER_FILETYPEDLL
        FILESUBTYPE     0
  {
    BLOCK "StringFileInfo"
    {
      BLOCK "040904b0"
      {
        VALUE "CompanyName",     KH_VERSTR_COMPANY_1033
        VALUE "FileDescription", "Kerberos 5 plugin for NetIDMgr"
        VALUE "FileVersion",     KH_VERSTR_VERSION_1033
        VALUE "InternalName",    "krb5cred"
        VALUE "LegalCopyright",  KH_VERSTR_COPYRIGHT_1033
        VALUE "OriginalFilename", "krb5cred.dll"
        VALUE "ProductName",     "NetIDMgr"
        VALUE "ProductVersion",  KH_VERSTR_PRODUCT_1033
#ifdef KH_VERSTR_COMMENT_1033
        VALUE "Comment", KH_VERSTR_COMMENT_1033
#endif
        VALUE NIMV_MODULE,       "MITKrb5"
        VALUE NIMV_PLUGINS,      "Krb5Cred,Krb5Ident"
        VALUE NIMV_APIVER,       KH_VERSION_STRINGAPI
        VALUE NIMV_SUPPORT,      "http://web.mit.edu/kerberos"
      }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 0x4b0
    }
  }
