.. highlightlang:: c

.. $composite.macro_reference($composite.name):

#set $title = $composite.name
$title
#echo ''.join(['=']*len($title)) #

..
.. data:: $composite.name
..

#if $composite.short_description is not None and len($composite.short_description)
$composite.short_description
#end if

$composite.long_description

#if $composite.name_signature is not None and len($composite.name_signature)
#echo ''.join(['=']*len($composite.name_signature)) + '== ======================' #
$composite.name_signature       $composite.initializer
#echo ''.join(['=']*len($composite.name_signature)) + '== ======================' #
#else
#echo ''.join(['=']*len($composite.name)) + '=== ======================' #
$composite.name       $composite.initializer
#echo ''.join(['=']*len($composite.name)) + '=== ======================' #
#end if
