.. highlightlang:: c

.. $composite.macro_reference($composite.name):



#if $composite.short_description is not None and len($composite.short_description)
	#set $title = $composite.name + ' - ' + $composite.short_description
#else
	#set $title = $composite.name
#end if
$title
#echo ''.join(['=']*len($title)) #



..
.. data:: $composite.name
..

#echo ''.join(['=']*len($composite.name)) + '== ======================' #
$composite.name       $composite.initializer
#echo ''.join(['=']*len($composite.name)) + '== ======================' #


$composite.long_description
 

#if $composite.Id is not None 


#end if
